.calibre {
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  display: block;
  margin: 1em 0;
}
.calibre2 {
  height: 872px;
  width: 604px;
}
.calibre3 {
  display: block;
  text-align: center;
  margin: 1em 0;
}
.calibre4 {
  font-size: 1.66667em;
  line-height: 1.2;
}
.calibre5 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre6 {
  font-weight: bold;
}
.calibre7 {
  display: block;
  font-size: 1.66667em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0.83em 0;
}
.calibre8 {
  font-size: 0.83333em;
}
.calibre9 {
  display: block;
}
.calibre10 {
  display: block;
  font-size: 1.66667em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.83em 0;
}
.calibre11 {
  font-size: 0.775em;
  line-height: 1.2;
}
.calibre12 {
  display: block;
  margin: 1em 0 1em 1em;
}
.calibre13 {
  display: block;
  text-indent: 1em;
  margin: 1em 0;
}
.calibre14 {
  font-size: 2em;
  line-height: 1.2;
}
.calibre15 {
  float: left;
  line-height: 1.2;
}
.calibre16 {
  line-height: 1.2;
}
.calibre17 {
  font-style: italic;
}
.calibre18 {
  display: block;
  margin: 1em 0 1em 3em;
}
.calibre19 {
  font-size: 1em;
}
.calibre20 {
  display: block;
  margin: 1em 0 1em 2em;
}
.calibre21 {
  display: block;
  margin: 1em 0 1em 4em;
}
.calibre22 {
  height: 176px;
  width: 176px;
}
.calibre23 {
  height: 178px;
  width: -177px;
}
.calibre24 {
  height: 409px;
  width: 296px;
}
